<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>검색</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }
        .table {
            width: 100%;
            border: 2px solid black;
        }
        th {
            border: 1px solid black;
            text-align: center;
            
        }
        td {
            border: 1px solid black;
            text-align: center;
        }
        /* div.left_container {
            width : 50%;
            float: left;    
        }    
        div.right_container {
            width : 50%;
            float: right;    
        }  */
        
    </style>

    <link rel="stylesheet" href="https://stackpa    th.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="search_book">
        <form method="GET" action="{% url 'book:search' %}">
            <input type="text" id="txt" name="sbook" placeholder="책 검색">
            <input type="submit" value="입력">
            <input type="button" value="리셋" onclick="location.href='{% url 'book:delete_all_book' %}'">
            <input type="button" value="저장" onclick="location.href='{% url 'book:save' %}'">
            <!--<input type="button" value="불러오기" onclick="location.href='{% url 'book:call' %}'">-->
        </form>
    </div>
    <br>
    <div class="search_user">
        <form method="GET" action="{% url 'book:call' %}">
            <input type="text" id="user" name="user" placeholder="회원 검색">
            <input type="submit" value="입력">
            <input type="button" value="리셋" onclick="location.href='{% url 'book:delete_all_user' %}'">
            <!--<input type="button" value="불러오기" onclick="location.href='{% url 'book:call' %}'">-->
        </form>
    </div>
    <br>
    <div class="left_container" > 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">작가</th>
                </tr>
            </thead>
            <tbody>               
                {% for i in alldata %}
                <tr>
                    <form method="GET" action="{% url 'book:save_one_user' %}">
                        <td><input type="text" name="user_name" value="{{i.name}}"></td>
                        <td><input type="text" name="genre"></td>    
                        <td><input type="submit" value="누르기"></td>
                    
                        <td><input type="hidden" name="book_title" value="{{i.title}}">{{i.title}}</td>       
                        <td><input type="hidden" name="book_author" value="{{i.author}}">{{i.author}}</td>
                    </form>
                    <td><input type="button" name="data_id" value="지우기"
                        onclick="location.href='{% url 'book:delete_one' i.id %}'"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <div class="right_container" > 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">작가</th>
                </tr>
            </thead>
            <tbody>
                {% for j in author %}
                <tr>
                    <td>{{j}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>
    function click() {
        var txt = $("#txt").val();
        alert(txt);
    }
    </script>
</body>

</html>